/dts-v1/;
#include "stm32mp157.dtsi"
#include "stm32mp15xa.dtsi"
#include "stm32mp15-pinctrl.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
#include "stm32mp15xx-fsmp1x.dtsi" 
/ {
	model = "HQYJ STM32MP157 FSMP1A Discovery Board";
	compatible = "st,stm32mp157a-dk1", "st,stm32mp157";

	aliases {
		serial0 = &uart4;
		serial5 = &usart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		gpu_reserved: gpu@d4000000 {
			reg = <0xd4000000 0x4000000>;
			no-map;
		};
		
		optee_memory: optee@0xde000000 {
			reg = <0xde000000 0x02000000>;
			no-map;
		};
	};

	myplatform{
    	compatible = "hqyj,myplatform";
    	interrupt-parent = <&gpiof>;
    	interrupts =<9 0>;
    	led1 = <&gpioe 10 0>;
    	fan = <&gpioe 9 0>;
    	buzz = <&gpiob 6 0>;
    	motor = <&gpiof 6 0>;
	};
};

&spi4{
    pinctrl-names = "default", "sleep";
    pinctrl-0 = <&spi4_pins_b>;
    pinctrl-1 = <&spi4_sleep_pins_b>;
    cs-gpios = <&gpioe 11 0>;
    status = "okay";

    m74hc595@0{
        compatible = "virtualor3,spi_m74hc595";
        reg = <0>;
        spi-max-frequency = <10000000>; //10Mhz
    };
};

&i2c1{
    pinctrl-names = "default", "sleep";
    pinctrl-0 = <&i2c1_pins_b>;
    pinctrl-1 = <&i2c1_sleep_pins_b>;
    i2c-scl-rising-time-ns = <100>;
    i2c-scl-falling-time-ns = <7>;
    status = "okay";                                                                                              
    /delete-property/dmas;      //删除属性
    /delete-property/dma-names;
    
    si7006@40{
        compatible = "yanyan,si7006";
        reg = <0x40>;
    };
};